.knowledge {
    background: linear-gradient(180deg, var(--red-decor), rgb(0, 10, 20));
    padding-top: 5rem;
    min-height: 100vh;
}

.knowledge h2 {
    color: white;
    font-family: var(--font-play), sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: -1px -1px var(--red-text), 1px 1px var(--blue);
}

.decorText {
    height: auto;
    width: 15px;
    background: var(--red-decor);
    display: block;
    clip-path: polygon(0 calc(50% - 20px), 0 0, 100% 0, 100% 100%, 0 100%, 0 calc(50% + 20px), 30% calc(50% + 10px), 30% calc(50% - 10px));
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    border-bottom: 3px solid var(--red-decor);
}

.tabs li {
    font-family: var(--font-play), sans-serif;
    color: var(--red-text);
    text-shadow: 0px 0px 5px var(--red-text);
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;

}

.tabs li::after {
    content: "";
    background: var(--red-text);
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 5px;
    width: 100%;
    box-shadow: 0px 0px 5px var(--red-text);

}

.tabs ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.tabs li.current {
    color: var(--blue);
    text-shadow: 0px 0px 10px var(--blue);
    animation: flicker 1.5s;
}

.tabs li.current::after {
    background: var(--blue);
    box-shadow: 0px 0px 10px var(--blue);
    animation: flickerBar 1.5s;
}

.tabContent ul {
    margin: 30px 0;
}

.tabContent li {
    display: flex;
    gap: 2px;
    max-width: 700px;
    margin: 5px auto;
}

.tabContent svg {
    width: 30px;
    height: 30px;
    fill: var(--blue);
    color: var(--blue);
    filter: drop-shadow(0px 0px 2px var(--blue));
}

.tabContent path {
    fill: var(--blue);
}

.contentList {
    color: var(--blue);
    font-family: var(--font-play), sans-serif;
    font-size: 1.3rem;
    line-height: 1.5em;
    padding: 1rem 1.5rem;
    text-align: justify;
    background: var(--red-background);
    border: 2px solid var(--red-decor);
    text-shadow: 0px 0px 5px var(--blue);
    position: relative;
    width: 100%;
    clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
    display: flex;
    justify-content: space-between;
}

.contentList::after {
    border-bottom: 20px solid var(--red-decor);
    border-left: 20px solid transparent;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
}

.decorBottom {
    top: -40px;
    direction: ltr;
    font-size: 12px;
    font-weight: 400;
    left: 8px;
    line-height: 110%;
    position: absolute;
    color: var(--red-text);
    font-family: var(--font-play), sans-serif;
    text-shadow: 0px 0px 5px var(--red-text);
}

.knowledge::before {
    -webkit-mask: url(/transicion.svg) no-repeat left/cover;
    mask: url(/transicion.svg) no-repeat left/cover;
    content: "";
    background: var(--red-decor);
    /* Gradiente como fondo */
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    height: 48px;
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow: 0px 0px 10px var(--blue);
        color: var(--blue);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        color: transparent;
    }
}

@keyframes flickerBar {

    12%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        box-shadow: 0px 0px 10px var(--blue);
        background: var(--blue);
    }

    0%,
    20%,
    24%,
    55% {
        box-shadow: none;
        background: none;
    }
}