@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #fcee0a;
  --blue: #00f0ff;
  --red: rgb(255 93 85);
}


body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}